
	<section class="log-reg">
		
		<div class="login-page">
			<div class="form">
				<form class="login-form" [formGroup]="resetForm" (ngSubmit)="resetHandler()">
					<input type="email" placeholder="Your email" formControlName="email"/>
					<button type="submit" class="btn btn-block btn-primary">Change password</button>
          <p *ngIf="errors?.message" class="error">{{ message | json }}</p>
          <p *ngIf="errors?.error" class="error">{{ errors?.error }}</p>
					<p class="message">Dont have an account? <a href="/register">Register</a></p>
				</form>
			</div>
		</div>

	</section>
